.companies {
  display: flex;
  justify-content: center;
}

.listContainer {
  width: 1000px;
}

.searchForm {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.searchField {
  flex-grow: 1;
}
